/*TYPOGRAPHY*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
    /*TYPO SIZE BASE 8PX*/
    --base-font-size: 8px;
    /*COLORS SHEME*/
    --var-dark: #1A1A1A;
    --var-dark-light: rgba(0, 0, 0, 0.1);
    --var-color-base: black;
    --var-light: #EBEBEB;
    --var-marseille-base: #00B2C3;
    --var-avocado: #DDE0B6;
    --var-cream: #F3E6BE;
    --var-tacao: #F5A883;
    --var-brick: #9B3C2E;
    /*OVERLAY COLOR SCHEME*/
    --opacity-super-high: .92;
    --opacity-high: .75;
    --opacity-medium: .50;
    --opacity-light: .25;
    --opacity-super-light: .125;
}


/* COLORS */

.black {
    color: black;
}

.white {
    color: white;
}

.dark {
    color: var(--var-dark);
}

.light {
    color: var(--var-light);
}

.khaki {
    background-color: var(--var-khaki);
}

.avocado {
    color: var(--var-avocado);
}

.cream {
    color: var(--var-cream);
}

.tacao {
    color: var(--var-tacao);
}

.brick {
    color: var(--var-brick);
}


/* BACKGROUNDS */

.bg-black {
    background-color: black;
}

.bg-white {
    background-color: white;
}

.bg-dark {
    background-color: var(--var-dark);
}

.bg-light {
    background-color: var(--var-light);
}

.bg-light-overlay-light {
    background-color: rgba(235, 235, 235, 0.45);
}

.bg-light-overlay-medium {
    background-color: rgba(235, 235, 235, 0.75);
}

.bg-khaki {
    background-color: var(--var-khaki);
}

.bg-avocado {
    background-color: var(--var-avocado);
}

.bg-cream {
    background-color: var(--var-cream);
}

.bg-tacao {
    background-color: var(--var-tacao);
}

.bg-brick {
    background-color: var(--var-brick);
}

.bg-market {
    background-image: url(../img/pictures/market.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}


/*TEXT COLOR*/

.text-white {
    color: white;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    color: black;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

a {
    font-size: 1.25rem;
}

p,
ul,
ol,
a,
select,
input,
label,
blockquote,
button,
table,
th,
tr,
td,
textarea,
hr {
    font-size: 1rem;
    text-decoration: none;
    outline: 0;
    color: #000;
}

button,
button:hover {
    border: none;
    cursor: pointer;
}

a,
a:focus,
input:focus,
textarea:focus {
    outline: 0;
}


/*FORMS*/

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2rem;
}

/*BREAKPOINTS TYPO*/


/*XXS*/

@media screen and (max-width:380px) {
    html {
        font-size: calc(var(--base-font-size)*1.5);
    }
}


/*XS BREAKPOINT*/

@media screen and (min-width:380px) and (max-width:600px) {
    html {
        font-size: calc(var(--base-font-size)*1.8);
    }
}


/*SM BREAKPOINT*/

@media screen and (min-width:600px) and (max-width:960px) {
    html {
        font-size: calc(var(--base-font-size)*1.8);
    }
}


/*MD BREAKPOINT*/

@media screen and (min-width:960px) and (max-width:1280px) {
    html {
        font-size: calc(var(--base-font-size)*2);
    }
}


/*LG BREAKPOINT*/

@media screen and (min-width:1280px) {
    html {
        font-size: calc(var(--base-font-size)*2);
    }
}


/*GENERAL MARKUP LAYOUT*/

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    overflow-x: hidden;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-scroll {
    overflow-y: auto;
}

.overflow-y-scroll {
    overflow-x: hidden;
    overflow-y: auto;
}

main,
header,
section,
nav,
footer,
nav ul {
    display: flex;
}

main,
header,
section,
footer {
    flex-direction: column;
}


/*BUTTONS*/

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn-sm {
    padding: 1rem 2rem;
    border-radius: 0.5rem;
}

.btn-md {
    padding: 2rem 4rem;
    border-radius: 0.5rem;
}

.btn-lg {
    padding: 4rem 8rem;
    border-radius: 0.5rem;
}


/* COLUMNS & ROWS*/

.col {
    display: flex;
    flex-direction: column;
}
.row-no-wrap {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.row {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


/*BORDER UTILITIES*/

.rounded {
    border-radius: 50%;
}

.b-radius-1 {
    border-radius: 1rem
}

.b-radius-2 {
    border-radius: 2rem
}

.b-radius-3 {
    border-radius: 3rem
}


/*TEXT POSITIONNING*/

.text-center {
    text-align: center;
}

.text-end {
    text-align: end;
}

.text-start {
    text-align: start;
}

.text-justify {
    text-align: justify;
}


/*DISPLAY UTILITIES*/

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.d-flex-col {
    display: flex;
    flex-direction: column;
}

.d-flex-row {
    display: flex;
    flex-direction: row;
}


/*FLEX UTILITIES*/


/*JUSTIFY CONTENT*/

.justify-content-center {
    display: flex;
    justify-content: center;
}

.justify-content-end {
    display: flex;
    justify-content: end;
}

.justify-content-space-between {
    display: flex;
    justify-content: space-between;
}

.justify-content-evenly {
    display: flex;
    justify-content: space-evenly;
}

.justify-content-around {
    display: flex;
    justify-content: space-around;
}


/*ALIGN ITEMS*/

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: flex-end;
}


/*ALIGN SELF*/

.align-self-baseline {
    align-self: baseline;
}

.align-self-end {
    align-self: flex-end;
}

.align-self-start {
    align-self: flex-start;
}

/* TEXT ALIGN CENTRE */
.text-align-center {
    text-align: center;
}
/*ALIGN CONTENT*/

.align-content-center {
    align-content: center;
}


/* FLEX [GROW|SHRINK|BASIS] */

.flex-0 {
    flex: 0;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.flex-4 {
    flex: 4;
}

.flex-5 {
    flex: 5;
}

.flex-6 {
    flex: 6;
}

.flex-7 {
    flex: 7;
}

.flex-8 {
    flex: 8;
}

.flex-9 {
    flex: 9;
}

.flex-10 {
    flex: 10;
}


/*SIZING UTILITIES*/


/*HEIGHT %*/

.h-200 {
    height: 200%;
}

.h-100 {
    height: 100%;
}

.h-95 {
    height: 95%;
}

.h-90 {
    height: 90%;
}

.h-85 {
    height: 85%;
}

.h-80 {
    height: 80%;
}

.h-75 {
    height: 75%;
}

.h-70 {
    height: 70%;
}

.h-66 {
    height: 66%;
}

.h-65 {
    height: 65%;
}

.h-60 {
    height: 60%;
}

.h-50 {
    height: 50%;
}

.h-45 {
    height: 45%;
}

.h-40 {
    height: 40%;
}

.h-35 {
    height: 35%;
}

.h-33 {
    height: 33%;
}

.h-30 {
    height: 30%;
}

.h-25 {
    height: 25%;
}

.h-20 {
    height: 20%;
}

.h-15 {
    height: 15%;
}

.h-10 {
    height: 10%;
}

.full-screen {
    min-height: 100vh;
}

.h-5 {
    height: 5%;
}


/*WIDTH %*/

.w-200 {
    width: 200%;
}

.w-100 {
    width: 100%;
}

.w-95 {
    width: 95%;
}

.w-90 {
    width: 90%;
}

.w-85 {
    width: 85%;
}

.w-80 {
    width: 80%;
}

.w-75 {
    width: 75%;
}

.w-70 {
    width: 70%;
}

.w-66 {
    width: 66%;
}

.w-65 {
    width: 65%;
}

.w-60 {
    width: 60%;
}

.w-50 {
    width: 50%;
}

.w-45 {
    width: 45%;
}

.w-40 {
    width: 40%;
}

.w-35 {
    width: 35%;
}

.w-33 {
    width: 33%;
}

.w-30 {
    width: 30%;
}

.w-25 {
    width: 25%;
}

.w-20 {
    width: 20%;
}

.w-15 {
    width: 15%;
}

.w-10 {
    width: 10%;
}

.w-5 {
    width: 5%;
}


/*HEIGHT VH*/

.vh-100 {
    height: 100vh;
}

.vh-95 {
    height: 95vh;
}

.vh-90 {
    height: 90vh;
}

.vh-85 {
    height: 85vh;
}

.vh-80 {
    height: 80vh;
}

.vh-75 {
    height: 75vh;
}

.vh-70 {
    height: 70vh;
}

.vh-66 {
    height: 66vh;
}

.vh-65 {
    height: 65vh;
}

.vh-60 {
    height: 60vh;
}

.vh-50 {
    height: 50vh;
}

.vh-45 {
    height: 45vh;
}

.vh-40 {
    height: 40vh;
}

.vh-35 {
    height: 35vh;
}

.vh-33 {
    height: 33vh;
}

.vh-30 {
    height: 30vh;
}

.vh-25 {
    height: 25vh;
}

.vh-20 {
    height: 20vh;
}

.vh-15 {
    height: 15vh;
}

.vh-10 {
    height: 10vh;
}

.vh-5 {
    height: 5vh;
}


/*WIDTH VW*/

.vw-100 {
    width: 100vw;
}

.vw-95 {
    width: 95vw;
}

.vw-90 {
    width: 90vw;
}

.vw-85 {
    width: 85vw;
}

.vw-80 {
    width: 80vw;
}

.vw-75 {
    width: 75vw;
}

.vw-70 {
    width: 70vw;
}

.vw-66 {
    width: 66vw;
}

.vw-65 {
    width: 65vw;
}

.vw-60 {
    width: 60vw;
}

.vw-50 {
    width: 50vw;
}

.vw-45 {
    width: 45vw;
}

.vw-40 {
    width: 40vw;
}

.vw-35 {
    width: 35vw;
}

.vw-33 {
    width: 33vw;
}

.vw-30 {
    width: 30vw;
}

.vw-25 {
    width: 25vw;
}

.vw-20 {
    width: 20vw;
}

.vw-15 {
    width: 15vw;
}

.vw-10 {
    width: 10vw;
}

.vw-5 {
    width: 5vw;
}


/*SPACING UTILITIES*/


/*PADDING */

.p-0 {
    padding: 0rem;
}

.pl-0 {
    padding-left: 0rem;
}

.pr-0 {
    padding-right: 0rem;
}

.pt-0 {
    padding-top: 0
}

.pb-0 {
    padding-bottom: 0rem;
}

.py-0 {
    padding-bottom: 0rem;
    padding-top: 0rem;
}

.px-0 {
    padding-right: 0rem;
    padding-left: 0rem;
}

.p-1 {
    padding: 1rem;
}

.pl-1 {
    padding-left: 1rem;
}

.pr-1 {
    padding-right: 1rem;
}

.pt-1 {
    padding-top: 1rem;
}

.pb-1 {
    padding-bottom: 1rem;
}

.py-1 {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.px-1 {
    padding-right: 1rem;
    padding-left: 1rem;
}

.p-2 {
    padding: 2rem;
}

.pl-2 {
    padding-left: 2rem;
}

.pr-2 {
    padding-right: 2rem;
}

.pt-2 {
    padding-top: 2rem;
}

.pb-2 {
    padding-bottom: 2rem;
}

.py-2 {
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.px-2 {
    padding-right: 2rem;
    padding-left: 2rem;
}

.p-3 {
    padding: 3rem;
}

.pl-3 {
    padding-left: 3rem;
}

.pr-3 {
    padding-right: 3rem;
}

.pt-3 {
    padding-top: 3rem;
}

.pb-3 {
    padding-bottom: 3rem;
}

.py-3 {
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.px-3 {
    padding-right: 3rem;
    padding-left: 3rem;
}

.p-4 {
    padding: 4rem;
}

.pl-4 {
    padding-left: 4rem;
}

.pr-4 {
    padding-right: 4rem;
}

.pt-4 {
    padding-top: 4rem;
}

.pb-4 {
    padding-bottom: 4rem;
}

.py-4 {
    padding-bottom: 4rem;
    padding-top: 4rem;
}

.px-4 {
    padding-right: 4rem;
    padding-left: 4rem;
}

.p-5 {
    padding: 5rem;
}

.pl-5 {
    padding-left: 5rem;
}

.pr-5 {
    padding-right: 5rem;
}

.pt-5 {
    padding-top: 5rem;
}

.pb-5 {
    padding-bottom: 5rem;
}

.py-5 {
    padding-bottom: 5rem;
    padding-top: 5rem;
}

.px-5 {
    padding-right: 5rem;
    padding-left: 5rem;
}


/*MARGINs */

.m-0 {
    margin: 0rem;
}

.ml-0 {
    margin-left: 0rem;
}

.mr-0 {
    margin-right: 0rem;
}

.mt-0 {
    margin-top: 0
}

.mb-0 {
    margin-bottom: 0rem;
}

.my-0 {
    margin-bottom: 0rem;
    margin-top: 0rem;
}

.mx-0 {
    margin-right: 0rem;
    margin-left: 0rem;
}

.m-1 {
    margin: 1rem;
}

.ml-1 {
    margin-left: 1rem;
}

.mr-1 {
    margin-right: 1rem;
}

.mt-1 {
    margin-top: 1rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.my-1 {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.mx-1 {
    margin-right: 1rem;
    margin-left: 1rem;
}

.m-2 {
    margin: 2rem;
}

.ml-2 {
    margin-left: 2rem;
}

.mr-2 {
    margin-right: 2rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.my-2 {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.mx-2 {
    margin-right: 2rem;
    margin-left: 2rem;
}

.m-3 {
    margin: 3rem;
}

.ml-3 {
    margin-left: 3rem;
}

.mr-3 {
    margin-right: 3rem;
}

.mt-3 {
    margin-top: 3rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.my-3 {
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.mx-3 {
    margin-right: 3rem;
    margin-left: 3rem;
}

.m-4 {
    margin: 4rem;
}

.ml-4 {
    margin-left: 4rem;
}

.mr-4 {
    margin-right: 4rem;
}

.mt-4 {
    margin-top: 4rem;
}

.mb-4 {
    margin-bottom: 4rem;
}

.my-4 {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.mx-4 {
    margin-right: 4rem;
    margin-left: 4rem;
}

.m-5 {
    margin: 5rem;
}

.ml-5 {
    margin-left: 5rem;
}

.mr-5 {
    margin-right: 5rem;
}

.mt-5 {
    margin-top: 5rem;
}

.mb-5 {
    margin-bottom: 5rem;
}

.my-5 {
    margin-bottom: 5rem;
    margin-top: 5rem;
}

.mx-5 {
    margin-right: 5rem;
    margin-left: 5rem;
}

.m-auto {
    margin: auto;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.margin-top-10 {
    margin-top: 10rem;
}


/*TRANSFORM REDUCE OR SCALE*/

.transform-scale-50 {
    transform: scale(.5);
}

.transform-scale-150 {
    transform: scale(.75);
}

.transform-scale-125 {
    transform: scale(1.25);
}

.transform-scale-150 {
    transform: scale(1.5);
}


/*POSITIONING UTILITIES*/


/*POSITIONS*/


/*STICKY*/

.sticky-top {
    position: sticky;
    top: 0
}

.sticky-bottom {
    position: sticky;
    bottom: 0
}


/*FIXED*/

.fixed-top {
    position: fixed;
    top: 0;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
}


/*ABSOLUTE OR RELATIVE*/

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}


/*Z-INDEX*/

.z-100 {
    z-index: 100;
}

.z-200 {
    z-index: 200;
}

.z-400 {
    z-index: 400;
}

.z-500 {
    z-index: 500;
}

.z-600 {
    z-index: 600;
}

.z-700 {
    z-index: 700;
}

.z-800 {
    z-index: 800;
}

.z-900 {
    z-index: 900;
}

.z-1000 {
    z-index: 1000;
}

.z-2000 {
    z-index: 2000;
}

.z-3000 {
    z-index: 3000;
}

.z-4000 {
    z-index: 1000;
}

.z-5000 {
    z-index: 5000;
}

.z-10000 {
    z-index: 10000;
}

.z-15000 {
    z-index: 10000;
}

.z-20000 {
    z-index: 10000;
}

.z-30000 {
    z-index: 30000;
}

/* NAVIGATION */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.menu-list > * {
    margin: 1rem 0;
}
/* NAV-TOGGLE */
.toggle-btn div {
    display: none;
    background-color: black;
    width: 35px;
    height: 5.5px;
    margin: 7px;
    margin-right: 20px;
    border-radius: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.nav-bar-top {
    display: flex;
    justify-content: center;
    z-index: 500;
    border-bottom: 0.4px solid gray;
    background-color: white;

}

.nav-bar-top .container-nav {
    margin: auto;
    display: flex;
    align-items: center;
}
.container-nav a {
    align-items: center; 
    margin-top: 0.2rem;
    margin-bottom: -0.2rem;
}
.container-nav .nav-links {
    justify-content: space-between;
}
.nav-links .menu-list {
    visibility: hidden;
    display: flex;
    position: absolute;
    flex-direction: column;
    margin: 0;
}
.nav-links ul li:hover .menu-list {
    visibility: visible;
}
.nav-bar-top ul {
    display: flex;
    list-style: none;
}

.nav-bar-top ul li a {
    text-decoration: none;
    color: var(--var-color-base);
    font-weight: 300;
    font-size: 1.3rem;
}

.right-link ul li a:hover {
    color: gray;
}

.nav-bar-top ul li>* {
    margin: 0 1rem;
}

#logo {
    width: 6rem;
    margin-right: 1rem;
}

.barre {
    width: 50%;
    background-color: var(--var-color-base);
    height: 1px;
    position: absolute;
}

.container-nav .right-link {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.right-link ul:nth-last-child(1) li a i {
    margin-right: 1rem
}
/* SECOND-NAV */
#second-nav-bar {
    display: flex;
    justify-content: center;
    background-color: var(--var-marseille-base);
    width: 100%;
    align-items: center;
    height: 56px;
}

#second-nav-bar .right-link {
    display: flex;
    justify-content: center;
    align-items: center;
}
#second-nav-bar ul li a {
    font-size: 1.5rem;
}
/* FOOTER */

hr {
    margin: 4rem auto auto auto;
    width: 90%;
    text-align: center;
}

footer ul {
    margin: 4rem 2rem;
}

footer ul li {
    list-style: none;
    line-height: 2;
}

footer ul h3 {
    font-size: 1.5rem;
}

footer ul li a, footer ul a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

footer div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.social-network i {
    font-size: 2.5rem;
    color: gray;
}
.social-network {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.social-network span {
   margin-top: 1rem;
}

footer a:hover {
    opacity: 0.6;
}
/*MD BREAKPOINT*/

@media screen and (max-width:1280px) {
    .nav-links ul li a {
        font-size: calc(var(--base-font-size)*2.5);
    }
    .banner {
        width: 100%;
    }
    div.utilisation {
        overflow: auto;
        white-space: nowrap;
    }
    main {
        width: 100%;
    }
    .nav-bar-top .container-nav {
        width: auto;
    }
   
}
@media screen and (max-width:960px) {
    .no-reverse {
        flex-direction: column;
    }
    .reverse {
        flex-direction: column-reverse;
    }
    .nav-bar-top {
        align-items: center;
    }
    .nav-bar-top .container-nav {
        margin: 0 10%;
    }
    #logo {
        width: 3rem;
    }
    .toggle-btn div {
        display: block;
    }
    body {
        overflow-x: hidden;
    }
    #second-nav-bar .nav-links {
        position: fixed;
        left: 0;
        height: 2000px;
        width: 35%;
        top: 56px;
        background-color: rgba(255, 255, 255, 0.705);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: initial;
        transform: translateX(-100%);
        transition: transform 0.5s ease-in;
        box-shadow: 0px 1px 2px rgb(212, 212, 212);
        border-right: 0.4px solid gray;
    }
    .nav-links ul {
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
    }
    .nav-links ul li {
        margin: 1rem 0;
    }
    #second-nav-bar .nav-active {
        transform: translateX(0);
    }
    .toggle .line1 {
        transform: rotate(-45deg) translate(-5.5px, 12px);
    }
    .toggle .line2 {
        opacity: 0;
    }
    .toggle .line3 {
        transform: rotate(45deg) translate(-5.5px, -12px);
    }
    .barre {
        display: none;
    }
    #second-nav-bar {
        justify-content: start;
    }
    #second-nav-bar .toggle-btn {
        margin-left: 5%;
    }
    .nav-bar-top .container-nav {
        display: none;
    }
}

/*XS BREAKPOINT*/

@media screen and (max-width:625px) {
    .nav-links {
        width: 55%;
    }
}
