@import url("marseille.css");
.container-main {
    margin: auto;
}
.container {
    display: flex;
    flex-direction: column;
    width: 1000px;
}
.container div {
    display: flex;
}

.container p {
    margin: 1rem;
}
.container h1 {
    margin-top: 2rem;
}

.block-description {
    flex: 2;
}
.block-image {
    flex: 1;

}
.banner img {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    margin-top: -4rem;
}

.banner {
    position: relative;
    height: 85vh;
}

.banner-content {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 10px;
    height: 100%;
    z-index: 100;
}

.banner-content i {
    font-size: 4rem;
    color: var(--var-marseille-darke);
}
.block-description {
    display: flex;
    flex-direction: column;
}
.block-rand .block-description {
    width: 60%;
}
.block-rand .block-image img {
    width: 100%;
}
.image-min p {
    margin: auto 0;
}
/* scroll */

#scroll a span {
    position: absolute;
    left: 50%;
    width: 58px;
    height: 58px;
    margin-left: -12px;
    border-left: 4px solid #fff;
    border-bottom: 4px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb05 1.8s infinite;
    animation: sdb05 1.8s infinite;
    box-sizing: border-box;
}
.opening {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
}
.container .block .opening img {
    width: 100%;
}
.opening img {
    width: 100%;
}
.picture {
    display: flex;
}
.picture img:nth-child(2){
    padding: 0 1rem;
}
.picture-end img {
    width: 70%;
}
@-webkit-keyframes sdb05 {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}

@keyframes sdb05 {
    0% {
        transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}

@media screen and (max-width:820px) {
    .container {
        width: 100%;
    }
    .container p {
        margin: 2rem;
    }
}

@media screen and (max-width:960px) {
    .block-description {
        flex-direction: column;
    }
}
