.container-content {
    width: 100%;
    display: flex;
    justify-content: center;
}
/* CONTACT */
.left-content {
    border-right: 1px solid gray;
}
.left-content form {
    width: 80%;
}
.form-left {
    text-align: start;
}
.form-left div:last-child {
    text-align: right;
}
.form-left div:first-child{
    margin: 1.5rem 0;
}
.form-left label {
    font-size: 1.2rem;
}
input[type=text], input[type=password], input[type=date]{
    background-color:rgb(240, 240, 240);
    width: 100%;
    padding: 12px 20px;
    margin: 1.5rem 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
#msg {
    background-color:rgb(240, 240, 240);
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    height: 200px;
    box-sizing: border-box;
    resize: vertical;
}
#objet {
    background-color:rgb(240, 240, 240);
    padding: 12px 20px;
    margin: 18px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button {
    background-color: gray;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    margin-top: 5rem;

}
button:hover {
    opacity: 0.8;
}
form {
    margin-bottom: 10rem;
}
.contact-info {
    margin-top: 3rem;
}
.contact-info a {
    text-decoration: none;
}
.contact-info h1 {
    font-size: 3rem;
}
.contact-info img {
    width: 80%;
    margin-bottom: 10rem;
    margin-top: 5rem;
}

/* RESPONSIVE */

@media screen and (max-width:749px) {
    html {
        font-size: calc(var(--base-font-size)*1.8);
    }
    .left-content form {
        width: 80%;
    }
    .container-content {
        width: 100%;
        display: flex;
        flex-direction: column;
    } 
}
/*MD BREAKPOINT*/

@media screen and (max-width:1280px) {
    html {
        font-size: calc(var(--base-font-size)*1.9);
    }
    .container-content {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}

/*LG BREAKPOINT*/

@media screen and (min-width:1280px) {
    html {
        font-size: calc(var(--base-font-size)*2);
    }
}